.root
{
    -fx-background-color: #023654;
}


.button
{
    -fx-text-fill: black;
}

#formGridPane
{
    -fx-font-family: "Lucida Grande";
    -fx-font-size: 15px;

}


#contentBorder
{
    -fx-border-color: #b4dbf1;
    -fx-border-width: 10px;
    -fx-background-color: white;
}

#contentBorder > *
{
    -fx-background-color: white;
}

.text-field:hover
{
 -fx-border-color: #039ED3;
 -fx-border-radius: 5px;
 -fx-border-width: 10x;

}

