.root
{
    -fx-background-image: url('../images/outrun-background.jpg');
}


.button
{
    -fx-text-fill: black;
}

#formGridPane
{
    -fx-font-family: "Lucida Grande";
    -fx-font-size: 15px;

}

#formVerticalBox
{
    -fx-border-color: #b4dbf1;
    -fx-border-width: 0 5 0 0;
    -fx-border-style: dotted;
}


#contentBorder
{
    -fx-border-color: #b4dbf1;
    -fx-border-width: 10px;
    -fx-background-color: white;
}

#contentBorder > *
{
    -fx-background-color: white;
}

#tableBorder
{
    -fx-border-color: #b4dbf1;
    -fx-border-width: 10px;
    -fx-background-color: white;
}

#tableBorder > *
{
    -fx-background-color: white;
}

.text-field:hover
{
 -fx-border-color: #039ED3;
 -fx-border-radius: 5px;
 -fx-border-width: 10x;

}


